.DS_Store
__pycache__/
lightning_logs
lightning_logs/
tb_logs/
logs/
model_logs/

sample_scripts/cond_utils/arcface/pretrained/BEST_checkpoint_r18.tar
sample_scripts/cond_utils/deca/data/
sample_scripts/cond_utils/DECA/data/

sample_scripts/animated_results/
sample_scripts/itw_images/
sample_scripts/itw_videos/
sample_scripts/rendered_obj/
rendered_obj/

# Graveyard
sample_scripts/py/Graveyard_script/lighting_experiment_mod_cond/sampling_results/
sample_scripts/py/Graveyard_script/lighting_experiment_self_itp/sampling_results/
sample_scripts/py/Graveyard_script/lighting_experiment_slerp/sampling_results/
sample_scripts/py/Graveyard_script/lighting_experiment/sampling_results/
sample_scripts/py/Graveyard_script/ddim_reverse_experiment/sampling_results/
sample_scripts/py/Graveyard_script/interchange_experiment/sampling_results/
sample_scripts/py/Graveyard_script/temporal_consistency_experiment/sampling_results/
sample_scripts/py/Graveyard_script/*/*/sampling_results/
sample_scripts/ipynb/Lighting_stuff/fgr_bgr_effect/org/
sample_scripts/ipynb/Lighting_stuff/fgr_bgr_effect/fgr/
sample_scripts/ipynb/Lighting_stuff/fgr_bgr_effect/bgr/
sample_scripts/ipynb/Lighting_stuff/fgr_bgr_effect/gs.png

sample_scripts/py/relighting_sample_id/ddim_reverse_interpolate/samples/
sample_scripts/py/relighting_sample_id/ddim_reverse_interpolate/samples_tmp/
sample_scripts/py/relighting_sample_id/best_num_step_diffusion/samples/
sample_scripts/py/relighting_sample_id/ddim_reverse_interpolate/hard_samples/
sample_scripts/py/relighting_sample_id/ddim_reverse_interpolate/hard_samples_pairwise/
sample_scripts/py/relighting_sample_id/ddim_reverse_interpolate/hard_samples_pairwise_mock/
sample_scripts/py/relighting_sample_id/ddim_reverse_interpolate/test_video/
sample_scripts/py/relighting_sample_id/ddim_reverse_interpolate/rotated_normals/
sample_scripts/py/relighting_sample_id/ddim_reverse_interpolate/rotate_normals/
sample_scripts/py/relighting_sample_id/ddim_reverse_interpolate/test_new/
sample_scripts/py/relighting_sample_id/ddim_reverse_interpolate/uncond_sampling/
sample_scripts/py/relighting_sample_id/ddim_reverse_interpolate/rev_vs_uncond/
sample_scripts/py/relighting_sample_id/sampling/new_comers/
sample_scripts/py/relighting_sample_id/sampling/zero_bg/

experiment_scripts/blur/gen/*.jpg
experiment_scripts/face_3d/rendered_face
experiment_scripts/rotate_light/normals
experiment_scripts/rotate_light/normals
experiment_scripts/rotate_light/alpha
experiment_scripts/rotate_light/.ipynb_checkpoints
experiment_scripts/equal_condition/*.npy
experiment_scripts/generate_samples_json/from_image_folders/light_left/*
experiment_scripts/generate_samples_json/from_image_folders/light_right/*
experiment_scripts/generate_verts/output
experiment_scripts/generate_verts/output_dev
experiment_scripts/ray_tracing/output
experiment_scripts/raytracing_shadow_example/out

visualize_scripts/flask_vispage/node_server
preprocess_scripts/ITW
preprocess_scripts/Relighting_preprocessing_tools/DECA/data
preprocess_scripts/Relighting_preprocessing_tools/face-parsing.PyTorch/res
preprocess_scripts/Relighting_preprocessing_tools/Arcface/pretrained


sample_scripts/py/relighting_sample_id/sampling/relight/
sample_scripts/py/relighting_sample_id/sampling/relight_2/
sample_scripts/py/relighting_sample_id/sampling/relight_3/
sample_scripts/py/relighting_sample_id/sampling/relight_050000/
sample_scripts/py/relighting_sample_id/sampling/ovr_img/
sample_scripts/py/relighting_sample_id/sampling/norm/
sample_scripts/py/relighting_sample_id/sampling/vis_img/

evaluations/tmp_img/
preprocess_scripts/Mp
preprocess_scripts/MP_Probl
preprocess_scripts/MP_Probl_b4
preprocess_scripts/use_avglms
preprocess_scripts/lms
preprocess_scripts/use_lms
experiment_scripts/rotate_light/ren.mp4
experiment_scripts/rotate_light/face/
experiment_scripts/ITW_debugging/debugging_img/

