.DS_Store
__pycache__/
classify_image_graph_def.pb
models/try_deca/ema_0.9999_000000.pt
models/try_deca/log.txt
models/try_deca/model000000.pt
models/try_deca/opt000000.pt
models/try_deca/progress.csv
models/try_tensorboard/log.txt
models/try_tensorboard/progress.csv
models/try_tensorboards/ema_0.9999_000000.pt
models/try_tensorboards/log.txt
models/try_tensorboards/model000000.pt
models/try_tensorboards/opt000000.pt
models/try_tensorboards/progress.csv
lightning_logs
lightning_logs/
lightning_logs/version_113/hparams.yaml
lightning_logs/version_113/checkpoints/epoch=17-step=323.ckpt
lightning_logs/version_81/hparams.yaml
lightning_logs/version_83/hparams.yaml
lightning_logs/version_84/hparams.yaml
lightning_logs/version_85/hparams.yaml
lightning_logs/version_86/hparams.yaml
lightning_logs/version_98/hparams.yaml
tb_logs/
tb_logs/my_model/version_0/events.out.tfevents.1642535637.vision04.18283.0
tb_logs/my_model/version_0/hparams.yaml
tb_logs/my_model/version_0/checkpoints/epoch=18-step=227.ckpt
tb_logs/my_model/version_0/checkpoints/epoch=19-step=239.ckpt
tb_logs/my_model/version_1/checkpoints/epoch=0-step=11.ckpt
tb_logs/my_model/ggez/events.out.tfevents.1642578818.vision04.18411.0
tb_logs/my_model/ggez/events.out.tfevents.1642579841.vision04.37139.0
tb_logs/my_model/ggez/events.out.tfevents.1642581309.vision04.65673.0
tb_logs/my_model/ggez/events.out.tfevents.1642581663.vision04.78039.0
tb_logs/my_model/ggez/events.out.tfevents.1642582039.vision04.90566.0
tb_logs/my_model/ggez/events.out.tfevents.1642582111.vision04.93207.0
tb_logs/my_model/ggez/events.out.tfevents.1642582366.vision04.99191.0
tb_logs/my_model/ggez/events.out.tfevents.1642583370.vision04.116946.0
tb_logs/my_model/ggez/events.out.tfevents.1642583417.vision04.119380.0
tb_logs/my_model/ggez/events.out.tfevents.1642583471.vision04.121903.0
tb_logs/my_model/ggez/events.out.tfevents.1642583547.vision04.124478.0
tb_logs/my_model/ggez/events.out.tfevents.1642583737.vision04.130307.0
tb_logs/my_model/ggez/events.out.tfevents.1642583804.vision04.1652.0
tb_logs/my_model/ggez/events.out.tfevents.1642584388.vision04.10058.0
tb_logs/my_model/ggez/events.out.tfevents.1642584430.vision04.11386.0
tb_logs/my_model/ggez/events.out.tfevents.1642584515.vision04.13276.0
tb_logs/my_model/ggez/events.out.tfevents.1642584604.vision04.15150.0
tb_logs/my_model/ggez/events.out.tfevents.1642584709.vision04.18476.0
tb_logs/my_model/ggez/events.out.tfevents.1642584759.vision04.19903.0
tb_logs/my_model/ggez/events.out.tfevents.1642584810.vision04.21328.0
tb_logs/my_model/ggez/events.out.tfevents.1642584863.vision04.22817.0
tb_logs/my_model/ggez/events.out.tfevents.1642584924.vision04.24383.0
tb_logs/my_model/ggez/events.out.tfevents.1642584969.vision04.25756.0
tb_logs/my_model/ggez/events.out.tfevents.1642585050.vision04.28283.0
tb_logs/my_model/ggez/events.out.tfevents.1642596447.vision04.29912.0
tb_logs/my_model/ggez/events.out.tfevents.1642596769.vision04.38202.0
tb_logs/my_model/ggez/hparams.yaml
tb_logs/my_model/ggez/checkpoints/epoch=0-step=17-v1.ckpt
tb_logs/my_model/ggez/checkpoints/epoch=0-step=17-v2.ckpt
tb_logs/my_model/ggez/checkpoints/epoch=0-step=17.ckpt
tb_logs/my_model/ggez/checkpoints/epoch=0-step=36.ckpt
tb_logs/my_model/ggez/checkpoints/epoch=1-step=35.ckpt
tb_logs/my_model/ggez/checkpoints/epoch=4-step=184.ckpt
tb_logs/my_model/version_10/events.out.tfevents.1642566489.vision04.34669.0
tb_logs/my_model/version_10/hparams.yaml
tb_logs/my_model/version_11/events.out.tfevents.1642566540.vision04.36143.0
tb_logs/my_model/version_11/hparams.yaml
tb_logs/my_model/version_11/checkpoints/epoch=0-step=36.ckpt
tb_logs/my_model/version_16/events.out.tfevents.1642566946.vision04.45740.0
tb_logs/my_model/version_16/hparams.yaml
tb_logs/my_model/version_17/events.out.tfevents.1642567142.vision04.48836.0
tb_logs/my_model/version_17/hparams.yaml
tb_logs/my_model/version_18/events.out.tfevents.1642567204.vision04.50560.0
tb_logs/my_model/version_18/hparams.yaml
tb_logs/my_model/version_19/events.out.tfevents.1642567554.vision04.55518.0
tb_logs/my_model/version_19/hparams.yaml
tb_logs/my_model/version_19/checkpoints/epoch=7-step=295.ckpt
tb_logs/my_model/version_2/checkpoints/epoch=0-step=11.ckpt
tb_logs/my_model/version_20/events.out.tfevents.1642568216.vision04.70152.0
tb_logs/my_model/version_20/hparams.yaml
tb_logs/my_model/version_21/events.out.tfevents.1642568273.vision04.72031.0
tb_logs/my_model/version_21/hparams.yaml
tb_logs/my_model/version_29/events.out.tfevents.1642574582.vision04.23833.0
tb_logs/my_model/version_29/hparams.yaml
tb_logs/my_model/version_3/events.out.tfevents.1642536985.vision04.81933.0
tb_logs/my_model/version_3/hparams.yaml
tb_logs/my_model/version_3/checkpoints/epoch=259-step=3119.ckpt
tb_logs/my_model/version_30/events.out.tfevents.1642574622.vision04.25086.0
tb_logs/my_model/version_30/hparams.yaml
tb_logs/my_model/version_30/checkpoints/epoch=54-step=2034.ckpt
tb_logs/my_model/version_31/events.out.tfevents.1642577309.vision04.121500.0
tb_logs/my_model/version_31/hparams.yaml
tb_logs/my_model/version_31/checkpoints/epoch=5-step=221.ckpt
tb_logs/my_model/version_32/events.out.tfevents.1642577631.vision04.3032.0
tb_logs/my_model/version_32/hparams.yaml
tb_logs/my_model/version_5/events.out.tfevents.1642558967.vision04.13714.0
tb_logs/my_model/version_5/hparams.yaml
tb_logs/my_model/version_5/checkpoints/epoch=1-step=23.ckpt
tb_logs/my_model/version_6/events.out.tfevents.1642559092.vision04.21064.0
tb_logs/my_model/version_6/hparams.yaml
tb_logs/my_model/version_6/checkpoints/epoch=0-step=11.ckpt
tb_logs/my_model/version_6/checkpoints/epoch=1-step=23.ckpt
tb_logs/my_model/version_7/events.out.tfevents.1642559240.vision04.28085.0
tb_logs/my_model/version_7/hparams.yaml
tb_logs/my_model/version_7/checkpoints/epoch=11-step=143.ckpt
tb_logs/my_model/version_8/events.out.tfevents.1642559950.vision04.62104.0
tb_logs/my_model/version_8/hparams.yaml
tb_logs/my_model/version_8/checkpoints/epoch=146-step=5438.ckpt
tb_logs/my_model/ggez_4rtz/events.out.tfevents.1642612813.vision04.14593.0
tb_logs/my_model/ggez_4rtz/hparams.yaml
tb_logs/my_model/ggez_4rtz/checkpoints/epoch=5-step=71.ckpt
tb_logs/my_model/ggez_4rtz/checkpoints/epoch=6-step=83.ckpt
tb_logs/my_model/ggez_4rtz/checkpoints/epoch=7-step=95.ckpt
logs/ggez/ema_0.5_000000.pt
logs/ggez/ema_0.9999_000000.pt
logs/ggez/log.txt
logs/ggez/model000000.pt
logs/ggez/opt000000.pt
logs/ggez/progress.csv
logs/IMG_DECA/DECA_ema_0.5_000000.pt
logs/IMG_DECA/DECA_ema_0.9999_000000.pt
logs/IMG_DECA/DECA_model000000.pt
logs/IMG_DECA/img_ema_0.5_000000.pt
logs/IMG_DECA/img_ema_0.9999_000000.pt
logs/IMG_DECA/img_model000000.pt
logs/IMG_DECA/log.txt
logs/IMG_DECA/opt000000.pt
logs/IMG_DECA/progress.csv
logs/
rendered_obj/
rendered_obj/0.jpg.obj
rendered_obj/0.obj
rendered_obj/1.jpg.obj
rendered_obj/1.obj
rendered_obj/2.jpg.obj
rendered_obj/2.obj
rendered_obj/3.jpg.obj
rendered_obj/3.obj
rendered_obj/4.obj
rendered_obj/5.obj
rendered_obj/6.obj
rendered_obj/7.obj
rendered_obj/8.obj
rendered_obj/9.obj
rendered_obj/10.obj
rendered_obj/11.obj
rendered_obj/12.obj
rendered_obj/13.obj
rendered_obj/14.obj
rendered_obj/4570.jpg.obj
rendered_obj/10450.jpg.obj
rendered_obj/12028.jpg.obj
rendered_obj/13232.jpg.obj
rendered_obj/13850.jpg.obj
rendered_obj/14617.jpg.obj
rendered_obj/18923.jpg.obj
rendered_obj/24434.jpg.obj
rendered_obj/24631.jpg.obj
rendered_obj/25803.jpg.obj
rendered_obj/29108.jpg.obj
rendered_obj/31054.jpg.obj
rendered_obj/33233.jpg.obj
rendered_obj/34435.jpg.obj
rendered_obj/41886.jpg.obj
rendered_obj/44921.jpg.obj
rendered_obj/45291.jpg.obj
rendered_obj/49824.jpg.obj
rendered_obj/56556.jpg.obj
rendered_obj/59445.jpg.obj
my_exp/events.out.tfevents.1644398616.vision14.56607.15
my_exp/events.out.tfevents.1644398625.vision14.56607.16
my_exp/events.out.tfevents.1644398626.vision14.56607.17
my_exp/events.out.tfevents.1644398626.vision14.56607.18
my_exp/events.out.tfevents.1644398627.vision14.56607.19
my_exp/events.out.tfevents.1644398627.vision14.56607.20
my_exp/events.out.tfevents.1644398627.vision14.56607.21
my_exp/events.out.tfevents.1644398628.vision14.56607.22
my_exp/events.out.tfevents.1644398628.vision14.56607.23
my_exp/events.out.tfevents.1644398629.vision14.56607.24
my_exp/events.out.tfevents.1644398629.vision14.56607.25
my_exp/events.out.tfevents.1644398630.vision14.56607.26
my_exp/events.out.tfevents.1644398630.vision14.56607.27
my_exp/events.out.tfevents.1644398631.vision14.56607.28
my_exp/events.out.tfevents.1644398631.vision14.56607.29
my_exp/events.out.tfevents.1644398632.vision14.56607.30
my_exp/events.out.tfevents.1644398759.vision14.56607.31
rendered_obj_128_raww/0.obj
rendered_obj_128_raww/1.obj
rendered_obj_128_raww/2.obj
rendered_obj_128_raww/3.obj
rendered_obj_128_raww/4.obj
rendered_obj_128_raww/5.obj
rendered_obj_128_raww/6.obj
rendered_obj_128_raww/7.obj
rendered_obj_128_raww/8.obj
rendered_obj_128_raww/9.obj
rendered_obj_128_raww/10.obj
rendered_obj_128_raww/11.obj
rendered_obj_128_raww/12.obj
rendered_obj_128_raww/13.obj
rendered_obj_128_raww/14.obj
rendered_obj_128_raww/57.jpg.obj
rendered_obj_128_raww/578.jpg.obj
rendered_obj_128_raww/2439.jpg.obj
rendered_obj_128_raww/10435.jpg.obj
rendered_obj_128_raww/16486.jpg.obj
rendered_obj_128_raww/23572.jpg.obj
rendered_obj_128_raww/27282.jpg.obj
rendered_obj_128_raww/27849.jpg.obj
rendered_obj_128_raww/34877.jpg.obj
rendered_obj_128_raww/38616.jpg.obj
cam-dist.html
exp-dist.html
file.html
pose-dist.html
shape-dist.html
rendered_obj_128/0.obj
rendered_obj_128/1.obj
rendered_obj_128/2.obj
rendered_obj_128/3.obj
rendered_obj_128/4.obj
rendered_obj_128/5.obj
rendered_obj_128/6.obj
rendered_obj_128/7.obj
rendered_obj_128/8.obj
rendered_obj_128/9.obj
rendered_obj_128/10.obj
rendered_obj_128/11.obj
rendered_obj_128/12.obj
rendered_obj_128/13.obj
rendered_obj_128/14.obj
rendered_obj_128_model/0.obj
rendered_obj_128_model/1.obj
rendered_obj_128_model/2.obj
rendered_obj_128_model/3.obj
rendered_obj_128_model/4.obj
rendered_obj_128_model/5.obj
rendered_obj_128_model/6.obj
rendered_obj_128_model/7.obj
rendered_obj_128_model/8.obj
rendered_obj_128_model/9.obj
rendered_obj_128_model/10.obj
rendered_obj_128_model/11.obj
rendered_obj_128_model/12.obj
rendered_obj_128_model/13.obj
rendered_obj_128_model/14.obj
rendered_obj_128_model/57.jpg.obj
rendered_obj_128_model/578.jpg.obj
rendered_obj_128_model/2439.jpg.obj
rendered_obj_128_model/10435.jpg.obj
rendered_obj_128_model/16486.jpg.obj
rendered_obj_128_model/23572.jpg.obj
rendered_obj_128_model/27282.jpg.obj
rendered_obj_128_model/27849.jpg.obj
rendered_obj_128_model/34877.jpg.obj
rendered_obj_128_model/38616.jpg.obj
rendered_obj/14731.jpg.obj
rendered_obj/18282.jpg.obj
rendered_obj/30544.jpg.obj
rendered_obj/32487.jpg.obj
rendered_obj/36086.jpg.obj
rendered_obj/45140.jpg.obj
rendered_obj/51084.jpg.obj
rendered_obj/53776.jpg.obj
rendered_obj/54864.jpg.obj
rendered_obj/58006.jpg.obj
rendered_obj/57.jpg.obj
rendered_obj/578.jpg.obj
rendered_obj/2439.jpg.obj
rendered_obj/10435.jpg.obj
rendered_obj/16486.jpg.obj
rendered_obj/23572.jpg.obj
rendered_obj/27282.jpg.obj
rendered_obj/27849.jpg.obj
rendered_obj/34877.jpg.obj
rendered_obj/38616.jpg.obj
sample_scripts/rendered_obj/0.obj
sample_scripts/rendered_obj/1.obj
sample_scripts/rendered_obj/2.obj
sample_scripts/rendered_obj/3.obj
sample_scripts/rendered_obj/4.obj
sample_scripts/rendered_obj/5.obj
sample_scripts/rendered_obj/6.obj
sample_scripts/rendered_obj/7.obj
sample_scripts/rendered_obj/8.obj
sample_scripts/rendered_obj/9.obj
sample_scripts/rendered_obj/10.obj
sample_scripts/rendered_obj/11.obj
sample_scripts/rendered_obj/12.obj
sample_scripts/rendered_obj/13.obj
sample_scripts/rendered_obj/14.obj
sample_scripts/rendered_obj/57.jpg.obj
sample_scripts/rendered_obj/578.jpg.obj
sample_scripts/rendered_obj/2439.jpg.obj
sample_scripts/rendered_obj/10435.jpg.obj
sample_scripts/rendered_obj/16486.jpg.obj
sample_scripts/rendered_obj/23572.jpg.obj
sample_scripts/rendered_obj/27282.jpg.obj
sample_scripts/rendered_obj/27849.jpg.obj
sample_scripts/rendered_obj/34877.jpg.obj
sample_scripts/rendered_obj/38616.jpg.obj
sample_scripts/rendered_obj/15.obj
sample_scripts/rendered_obj/16.obj
sample_scripts/rendered_obj/17.obj
sample_scripts/rendered_obj/18.obj
sample_scripts/rendered_obj/19.obj
sample_scripts/rendered_obj/20.obj
sample_scripts/rendered_obj/21.obj
sample_scripts/rendered_obj/22.obj
sample_scripts/rendered_obj/23.obj
sample_scripts/rendered_obj/24.obj
sample_scripts/rendered_obj/25.obj
sample_scripts/rendered_obj/26.obj
sample_scripts/rendered_obj/27.obj
sample_scripts/rendered_obj/28.obj
sample_scripts/rendered_obj/29.obj
sample_scripts/rendered_obj/30.obj
sample_scripts/rendered_obj/31.obj
sample_scripts/rendered_obj/32.obj
sample_scripts/rendered_obj/33.obj
sample_scripts/rendered_obj/34.obj
sample_scripts/rendered_obj/35.obj
sample_scripts/rendered_obj/36.obj
sample_scripts/rendered_obj/37.obj
sample_scripts/rendered_obj/38.obj
sample_scripts/rendered_obj/39.obj
sample_scripts/rendered_obj/40.obj
sample_scripts/rendered_obj/41.obj
sample_scripts/rendered_obj/42.obj
sample_scripts/rendered_obj/43.obj
sample_scripts/rendered_obj/44.obj
sample_scripts/rendered_obj/45.obj
sample_scripts/rendered_obj/46.obj
sample_scripts/rendered_obj/47.obj
sample_scripts/rendered_obj/48.obj
sample_scripts/rendered_obj/49.obj
model_logs/openai-2022-02-21-10-15-38-509196_image/log.txt
model_logs/openai-2022-02-21-10-15-38-509196_image/progress.csv
model_logs/openai-2022-02-21-10-17-24-682079_image/log.txt
model_logs/openai-2022-02-21-10-17-24-682079_image/progress.csv
model_logs/openai-2022-02-21-10-18-09-103320_image/log.txt
model_logs/openai-2022-02-21-10-18-09-103320_image/progress.csv
model_logs/openai-2022-02-21-10-18-55-317646_image/log.txt
model_logs/openai-2022-02-21-10-18-55-317646_image/progress.csv
model_logs/openai-2022-02-21-10-19-03-924489_image/log.txt
model_logs/openai-2022-02-21-10-19-03-924489_image/progress.csv
model_logs/openai-2022-02-21-10-20-51-492523_image/log.txt
model_logs/openai-2022-02-21-10-20-51-492523_image/progress.csv
model_logs/openai-2022-02-21-10-22-36-575559_image/log.txt
model_logs/openai-2022-02-21-10-22-36-575559_image/progress.csv
model_logs/openai-2022-02-21-10-23-04-001776_image/log.txt
model_logs/openai-2022-02-21-10-23-04-001776_image/progress.csv
model_logs/openai-2022-02-21-10-23-31-765749_image/Deca_ema_0.5_000000.pt
model_logs/openai-2022-02-21-10-23-31-765749_image/Deca_ema_0.9999_000000.pt
model_logs/openai-2022-02-21-10-23-31-765749_image/Deca_model000000.pt
model_logs/openai-2022-02-21-10-23-31-765749_image/log.txt
model_logs/openai-2022-02-21-10-23-31-765749_image/opt000000.pt
model_logs/openai-2022-02-21-10-23-31-765749_image/progress.csv
model_logs/openai-2022-02-21-11-34-45-859804_image/log.txt
model_logs/openai-2022-02-21-11-34-45-859804_image/progress.csv
model_logs/openai-2022-02-21-11-47-15-374459_image/log.txt
model_logs/openai-2022-02-21-11-47-15-374459_image/progress.csv
model_logs/openai-2022-02-21-11-54-32-760783_image/log.txt
model_logs/openai-2022-02-21-11-54-32-760783_image/progress.csv
model_logs/openai-2022-02-21-11-54-42-510743_image/log.txt
model_logs/openai-2022-02-21-11-54-42-510743_image/progress.csv
model_logs/openai-2022-02-21-11-34-45-859804_image/log.txt
model_logs/openai-2022-02-21-11-34-45-859804_image/progress.csv
model_logs/openai-2022-02-21-11-47-15-374459_image/log.txt
model_logs/openai-2022-02-21-11-47-15-374459_image/progress.csv
model_logs/openai-2022-02-21-11-54-32-760783_image/log.txt
model_logs/openai-2022-02-21-11-54-32-760783_image/progress.csv
model_logs/openai-2022-02-21-11-54-42-510743_image/log.txt
model_logs/openai-2022-02-21-11-54-42-510743_image/progress.csv
vis.png
sample_scripts/cond_utils/arcface/pretrained/BEST_checkpoint_r18.tar
sample_scripts/itw_images/kostas.jpg
sample_scripts/itw_images/kostas.jpg
sample_scripts/cond_utils/deca/data/deca_model.tar
sample_scripts/cond_utils/deca/data/fixed_displacement_256.npy
sample_scripts/cond_utils/deca/data/generic_model.pkl
sample_scripts/cond_utils/deca/data/head_template.obj
sample_scripts/cond_utils/deca/data/landmark_embedding.npy
sample_scripts/cond_utils/deca/data/mean_texture.jpg
sample_scripts/cond_utils/deca/data/texture_data_256.npy
sample_scripts/cond_utils/deca/data/uv_face_eye_mask.png
sample_scripts/cond_utils/deca/data/uv_face_mask.png
sample_scripts/itw_images/kellan.jpg
sample_scripts/itw_images/supasorn.jpg
sample_scripts/itw_images/64678.jpg
sample_scripts/itw_images/67543.jpg
sample_scripts/itw_images/corey_crop.jpg
sample_scripts/itw_images/cr7_2.jpg
sample_scripts/itw_images/cr7.jpg
sample_scripts/itw_images/ice.jpg
sample_scripts/itw_images/kostas_crop.jpg
sample_scripts/itw_images/mint_2.jpg
sample_scripts/itw_images/mint_crop.jpg
sample_scripts/itw_images/mint_visa_crop.jpg
sample_scripts/itw_images/mint_visa.jpg
sample_scripts/itw_images/mint.jpg
sample_scripts/itw_images/moke_2.jpg
sample_scripts/itw_images/moke.jpg
sample_scripts/itw_images/supasorn_crop.jpg
sample_scripts/itw_images/ted_crop.jpg
sample_scripts/itw_images/tom_hanks_crop.jpg
sample_scripts/itw_images/tom_hanks.jpg
sample_scripts/itw_images/mint.jpg
sample_scripts/itw_images/mint.jpg
